<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<article layout:fragment="conteudo">
		<form action="insert" method="post" th:object="${card}">
			<input type="hidden" th:field="*{id}" />
			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Desativação de Cartão de Crédito
				</div>
				<div class="panel-body">
					<p>Para mantermos a integridade das informações existentes no sistema, não é permitido excluir cartões de crédito. Ao invés disso, podemos desativálo.</p>
					<p>Ao executar esta operação, não será possível registrar compras neste cartão. <strong>Tem certeza de que deseja fazer isso?</strong></p>
					<div class="row">
						<div class="form-group">
							<label class="control-label col-sm-3">Nome do cartão</label>
							<div class="col-md-3">
								<p class="form-control-static" th:text="*{name}">nome do cartão</p>
							</div>
						</div>
						<div class="form-group col-md-2 col-sm-3">
							<label class="control-label col-sm-3">Bandeira</label>
							<div class="col-md-3">
								<p class="form-control-static" th:text="*{flag}">bandeira do cartão</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<a href="/cards" class="btn btn-link">Voltar para a lista de cartões</a>
					<button class="btn btn-primary pull-right">Salvar</button>
				</div>
			</div>
		</form>
	</article>
</body>
</html>