<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<article layout:fragment="conteudo">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-condensed table-striped">
					<tr>
						<th>Nome do cartão</th>
						<th>Bandeira</th>
						<th>Operações</th>
					</tr>
					<tr th:each="card :${cards}" th:classappend="${!card.active?'text-danger':''}">
						<td th:text="${card.name}">Nome do cartão</td>
						<td th:text="${card.flag.name}">Bandeira</td>
						<td>Editar | Inativar</td>
					</tr>
					<tr th:if="${#lists.isEmpty(cards)}">
						<td colspan="3">Nenhum cartão cadastrado. <a href="/cards/insert">Que tal começar agora?</a></td>
					</tr>
				</table>
				<a href="/cards/insert" class="btn btn-primary float-right">Novo cartão</a>
			</div>
		</div>
	</article>
</body>
</html>